@media only screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    margin: 0 27px;
  }
  nav ul {
    display: none;
  }
  .menu-btn > div {
    height: 2px;
    width: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
  }
  .menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  #section-headline .container {
    margin: 0 27px;
    text-align: left;
  }
  #section-headline h2 {
    margin-right: 320px;
  }
  .section-headline-p {
    flex-direction: column;
    gap: 24px;
  }
  .section-headline-p p:first-child {
    max-width: none;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 31px;
  }
  address {
    grid-template-rows: auto;
  }
}
