body {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
}
.container {
  max-width: 983px;
  margin: 0 auto;

  text-align: center;
}
.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* ---------- SECITON HERO ----------*/
#hero {
  background-image: url(../abstract-background.svg);

  padding: 45px 0 256px;
}
#hero .container {
  max-width: 426px;
}
header {
  margin: 0 auto;
  margin-bottom: 203px;
  text-transform: uppercase;
}
nav {
  margin-left: 152px;
  display: flex;
  gap: 165px;

  color: #fff;
}
nav ul {
  display: flex;
  gap: 32px;
}

nav li:hover {
  border-bottom: 2px solid #ffffff;
}
nav ul {
  padding-top: 4px;
  height: 26px;
}

nav a {
  font-size: 14px;
  line-height: 16px;
}
nav > a {
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}
.menu-btn {
  display: none;
}
h1 {
  color: rgb(255, 255, 255);
  margin: 13px 0 42px;
}
h1,
#section-headline h2,
#section-learn-more h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
#hero h2 {
  color: rgba(255, 255, 255, 0.7);

  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
/* ---------- SECITON HEADLINE ----------*/
#section-headline {
  padding: 87px 0 98px;
  background: #eee;
}

#section-headline h2 {
  color: rgb(70, 69, 71);
}
#section-headline h3 {
  color: rgba(102, 102, 102, 1);

  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;

  margin: 40px 0 48px;
}
#section-headline .container {
  max-width: 907px;
}
.section-headline-p {
  display: flex;
  gap: 83px;

  text-align: start;
  margin-bottom: 46px;
}
.section-headline-p p:first-child {
  max-width: 408px;
}
#section-headline p {
  color: #000;

  font-size: 16px;
  line-height: 22px;
}
#section-headline .btn {
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1em;

  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: #55c2d8;
  border: 1px solid #55c2d8;
  border-radius: 18px;
  padding: 5px 17px 6px 18px;
}

/* ---------- SECITON LEARN-MORE ----------*/
#section-learn-more {
  background-image: url(../section-background.png);
  color: rgb(255, 255, 255);
  padding: 84px 0 90px;

  position: relative;
}
#section-learn-more::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(140, 79, 42, 0.3);
  z-index: 1;
}
#section-learn-more .container {
  max-width: 480px;
}
#section-learn-more article:last-child {
  position: relative;
  z-index: 2;
}

#btn-play {
  border: 1px solid #39c2d7;
  height: 150px;
  width: 150px;
  background-color: #39c2d7;
  border-radius: 50%;

  margin: 53px 0 70px;

  position: relative;
}
#btn-play span {
  height: 55px;
  width: 70px;
  font-size: 62.5px;
  color: #fff;

  position: absolute;
  top: calc((150px - 70px) / 2);
  left: calc((150px - 55px) / 2);
}
#section-learn-more h3 {
  font-size: 24px;
  line-height: 32px;
}

/* ---------- SECITON FOOTER ----------*/

footer {
  padding: 37px 148px 0 153px;
  background: #464547;
  color: rgba(255, 255, 255, 0.4);
}
footer .container {
  text-align: start;

  color: rgba(255, 255, 255, 0.4);
  font-family: "Source Sans Pro";
  font-size: 16px;
  line-height: 19px;

  display: grid;
  grid-template-columns: repeat(7, minmax(max-content, 1fr));
  grid-template-rows: 82px 82px;
}
.footer-logo {
  display: flex;
  gap: 16px;

  font-size: 16px;
  line-height: 19px;
}
.footer-logo > span {
  text-transform: uppercase;
  color: #fff;

  font-size: 18px;
  line-height: 16px;
}
address {
  grid-column: 3;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: repeat(2, 82px);
}

small {
  grid-column: 6 / 8;
  grid-row: 2 / 3;

  justify-self: end;
}
